<link rel="stylesheet" href="/stylesheets/show_style.css">

<div class="container">
  <div class="row mt-5 mx-auto">
    <form class="col-12 col-md-10 mx-auto" 
    action="/restaurants/{{restaurant._id}}/edit" method="POST">
      <p class="mb-2">
        <span class="text-secondary">
          <i class="fas fa-utensils pr-2"></i>
          中文名稱：
        </span>
        <input class="w-100" type="text" name="name" value="{{restaurant.name}}">
      </p>
      <p class="mb-2">
        <span class="text-secondary">
          <i class="fas fa-utensils pr-2"></i>
          英文名稱：
        </span>
        <input class="w-100" type="text" name="name_en" value="{{restaurant.name_en}}">
      </p>
      <p class="mb-2">
        <span class="text-secondary">
          <i class="fas fa-utensils pr-2"></i>
          類別：
        </span>
        <input class="w-100" type="text" name="category" value="{{restaurant.category}}">
      </p>

      <p class="mb-2">
        <span class="text-secondary">
          <i class="fas fa-map-marker-alt pr-2"></i>
          地址：
        </span>
        <input class="w-100" type="text" name="location" value="{{restaurant.location}}">
      </p>

      <p class="mb-2">
        <span class="text-secondary">
          <i class="fas fa-location-arrow pr-2 fa-xs"></i>
          地圖：
        </span>
        
        <input class="w-100" type="text" name="google_map"
          value="{{restaurant.google_map}}">

      </p>
      
      <p class="mb-2">
        <span class="text-secondary">
          <i class="fas fa-mobile-alt pr-2"></i>
          電話：
        </span>
        <input class="w-100" type="text" name="phone" value="{{restaurant.phone}}">
      </p>

      <p class="mb-2">
        <span class="text-secondary">
          <i class="fas fa-signature"></i>
          描述：
        </span>
        <textarea class="w-100" style="height:200px;" name="description" >{{restaurant.description}}</textarea>
      </p>

      <p class="mb-5">
        <span class="text-secondary">
          <i class="fas fa-image"></i>
          圖片：
        </span>
        <input class="w-100" type="text" name="image"
        value="{{restaurant.image}}">
      </p>
      <div class="text-center mb-5">
        <a class="mr-5 btn btn-primary" style="font-size:1.2em;" href="/">Back</a>
        <button type="submit" class="mr-5 btn btn-primary" style="font-size:1.2em;" href="/">Save</button>
      </div>
    </form>
  </div>
</div>